.horizontal-nav {
    display: flex;
    justify-content: center;
    align-items: center; /* Vertically center the navigation bar */
    background-color: #333;
    padding: 10px 0;
    position: fixed; /* Position the navigation bar at the top */
    width: 100%; /* Make the navigation bar span the full width */
    top: 0; /* Position it at the top */
    z-index: 1000; /* Set a high z-index to keep it above other content */
  }
  
  .header-buttons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .header-buttons li {
    margin: 0 10px;
  }
  
  .button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
  }
  
  .button:hover {
    color: #f39c12;
  }

  